<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="Browse song selections performed by wedding violinist, Michael Shingo Crawford in Amsterdam and Rotterdam - Netherlands.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <%- include('./partials/styles.ejs') %>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <%- include('./partials/head.ejs') %>
                <main class="main-content">
                    <h1>Song List</h1>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <p>Here is a list of songs that I play. Please select the ensemble you are interested in to see the songs for that particular group.</p>


                           <div class="row">
                                <div class="select-container col-4">
                                    <select class="select-box" name="ensembles" id="ensembles" onchange="location=this.value;">
                                        <option id="option-all" value="/songs">All Songs</option>
                                        <option id="option-v" value="/v" >Solo Violin</option>
                                        <option id="option-vc" value="/vc">Violin and Cello Duo</option>
                                        <option id="option-vp" value="/vp">Violin and Piano Duo</option>
                                        <option id="option-vh" value="/vh">Violin and Harp Duo</option>
                                    </select>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-caret-down"></i>
                                    </div>

                            
                                </div>
                                <form class="song-search col-8" method="post" action="/songs">
                                    <div class="row">
                                        <input class="search-input text-input col-7" type="text" name="search-song" id="search-song" placeholder="">
                                        <input class="submit search-submit col-5" type="submit" value="Search">
                                    </div>
                         
                                </form>
                            </div>
                            
                   
                            <p><%= songCount %> songs available.</p>

                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Artist</th>
                                        <th>Genre</th>
                                    </tr>
                          
                                </thead>
                                <% allSongs.forEach(function(song) { %>
                                    <%- include('./songRow.ejs', {song: song}); %>
                                <% }); %>
                            </table>


                        </div>
                        <div class="col-2"></div>
                    </div>
                </main>
            </div>
            <%- include('./partials/footer.ejs') %>
        </div>
        
        <script src="index.js" type="text/javascript" async defer></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script>
            const optionAll = document.getElementById('option-all');
            const optionV = document.getElementById('option-v');
            const optionVC = document.getElementById('option-vc');
            const optionVP = document.getElementById('option-vp');
            const optionVH = document.getElementById('option-vh');
            if (document.URL.endsWith('v')) {
                optionV.setAttribute('selected', 'true');
            }
            else if (document.URL.endsWith('vh')) {
                optionVH.setAttribute('selected', 'true');   
            }
            else if (document.URL.endsWith('vp')) {
                optionVP.setAttribute('selected', 'true');
            }
            else if (document.URL.endsWith('vc')) {
                optionVC.setAttribute('selected', 'true');
            }
            else {

            }
        </script>
        <script>
            
        </script>
    </body>
</html>
