<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA_Compatible" content="IE=edge">
        <meta name="description" content="Wedding violinist performing solo violin and chamber music in Amsterdam, Rotterdam, and The Hague - Netherlands">
        <link rel="shortcut icon" type="image/png" href="./img/favicon.png">
        <title><%= title %></title>
        <!--<link rel="stylesheet" href="styles/questions.css">-->
        <%- include('./partials/styles.ejs') %>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <%- include('./partials/head.ejs') %>
                <main class="main-content">
                    <h1>Huur een violist</h1>
                    <div class="col-12">
                        <a href="/violinist"><img class="change-language brightness-hover" src="img/ukFlag.jpg" alt="Netherlands and Rotterdam violinist performing at a wedding proposal event."></a>
                    </div>

                    <div class="row">
                        <div class="col-6 violinist-img-container">
                            <img class="brightness-hover violinist-image col-6" src="img/alexTranProposal1SmallCropped.jpg" alt="Netherlands and Rotterdam violinist performing at a wedding proposal event.">

                        </div>
                        <div class="col-6">
                            <p class="image-side-text">Ik ben een Rotterdamse violiste die klassieke, populaire en anime-muziek uitvoert in Nederland en omgeving.
                                Als u een violist wilt inhuren om op te treden in een breed scala aan omgevingen, waaronder bruiloften, bedrijfsevenementen, vakantievieringen,
                                privé salonconcerten, recitals, zoek niet verder! Ik breid mijn repertoire voortdurend uit met nieuwe selecties door voortdurend te componeren,
                                arrangeren en opnemen van muziek voor <a href="https://www.youtube.com/channel/UCb46nljnneXaQCa5wKYsbWA">Youtube</a>, 
                                waar ik meer dan een miljoen views heb bereikt.<br><br>
                        
    
                                Mijn doel als violist is om voor elk evenement een op maat gemaakte muzikale selectie bij te dragen.
                                Als uitvoerder, componist en arrangeur ben ik in staat om te voldoen aan de behoeften van een breed scala aan mensen die evenementen organiseren in onder meer Amsterdam, Den Haag, Rotterdam, Utrecht, Delft en daarbuiten.
                                Ik zou graag de kans krijgen om met u samen te werken om van uw evenement een onvergetelijke ervaring te maken.
                    
                                <br><br>
                                Luister naar wat van mijn spel en lees gerust verder om meer te leren!
                            </p>
                            <div class="">
                                <iframe class="video" src="https://www.youtube.com/embed/LZ6Dei0H1TU" title="YouTube video player" 
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                allowfullscreen></iframe>
                            </div>
                        </div>



                    </div>

                    <div class="row">

                        <div class="col-6 col-s-6">
                            
                            <h2>Recensies</h2>
                            <%- include('./partials/gigReviews.ejs') %>
                            <h2>Ensemble-opties</h2>

                            <%- include('./partials/ensembleOptionsDutch.ejs') %>
                            <h2>Muzieklijst</h2>
                            <p>
                                Blader <a href="/songs">hier</a> door mijn lijst met nummers.
                            </p>



                        </div>
                        <div class="col-6 col-s-6">
                            <h2>Klaar om te boeken?</h2>

                            <p>Stuur me details over je evenement en ik neem contact met je op met een offerte of gebruik de <a href="/contact">contactformulier 
                            </a> als u een meer algemene vraag heeft.</p>
                            <!-- <p>If you would like to hire a violinist for a wedding in Amsterdam, Netherlands,  -->
                                <!-- or other locations, please visit the <a href="wedding-violinist-for-hire-in-netherlands">dedicated page here.</a></p> -->
                            <p class="small-p">Velden gemarkeerd met <span class="asterisk">*</span> zijn verplicht.</p>
                            <form id="violinist-form" onsubmit="sendEmailViolinist(); reset(); return false;">
                                
                                <label for="name">Naam:<span class="asterisk">*</span></label>
                                <input class="text-input" type="text" id="name" >
                                
                                <label for="email">E-mailen:<span class="asterisk">*</span></label>
                                <input class="text-input" type="email" id="email" >
        
                                <label for="location">Evenement Locatie:<span class="asterisk">*</span></label>
                                <input class="text-input" type="text" id="location">
        
                                <label for="outdoors">Instelling:<span class="asterisk">*</span></label>
                                
                                <div class="radio-option-row">
                                    <div class=radio-row>
                                        <input class="radio-button" name="setting-radio" type="radio" id="outdoors" value="Outdoors">
                                        <label class="small-p" for="outdoors">Buitenshuis</label>
                                    </div>
                                
                                    <div class="radio-row">
                                        <input class="radio-button" name="setting-radio" type="radio" id="indoors" value="Indoors">
                                        <label class="small-p"  for="indoors">Binnenshuis</label>
                                    </div>
                                </div>
          
                                
                          
                                <label for="date">Datum Evenement:<span class="asterisk">*</span></label>
                                <input class="text-input" type="date" id="date">
                                
        
                                <label for="number-musicians">Aantal Muzikanten:<span class="asterisk">*</span></label>
                                <input class="text-input" type="number" id="number-musicians">
        
                                <label for="playing-length">
                                    Hoe lang wil je dat ik speel? (in minuten):<span class="asterisk">*</span></label>
                                <input class="text-input" type="number" id="playing-length">
        
                                
                                <label for="google">Waar heb je me gevonden:<span class="asterisk">*</span></label>
        
                                <div class="form-row">
                                    <div class="radio-row">
                                        <input class="radio-button" name="find-radio" type="radio" id="google" value="Google">
                                        <label class="small-p" for="google">Google</label>        
                                    </div>
            
                                
                                    <div class="radio-row">
                                        <input class="radio-button" name="find-radio" type="radio" id="gigsalad" value="Gigsalad">
                                        <label class="small-p" for="gigsalad">Gigsalad</label> 
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="radio-row">
                                        <input class="radio-button" name="find-radio" type="radio" id="thumbtack" value="Thumbtack">
                                        <label class="small-p" for="thumbtack">Thumbtack</label>     
                                    </div>
            
            
                                    <div class="radio-row">
                                        <input class="radio-button" name="find-radio" type="radio" id="word-of-mouth" value="Word of Mouth">
                                        <label class="small-p" for="word-of-mouth">Mond op Mond</label>
                                    </div>

                                </div>

                                <div class="form-row">
                         
                                    <div class="radio-row">
                                        <input class="radio-button" name="find-radio" type="radio" id="zola" value="Zola">
                                        <label class="small-p" for="zola">Zola</label>
                                    </div>
            
            
                                    <div class="radio-row">
                                        <input class="radio-button" name="find-radio" type="radio" id="other" value="Other">
                                        <label class="small-p" for="other">Anders (gelieve te specificeren):</label>
                                    </div>

                                </div>

                                <input class="text-input" type="text" id="other-source">
        
                                <label for="additional-comments">Bericht:<span class="asterisk"></span></label>
                                <textarea id="message" name="message" rows="10" cols="40"></textarea>
        
                                <button class="submit" type="submit">Indienen</button>
                                <p class="form-message"></p>

                            </form>

                        </div>
                        
                        


                    </div>


                   
                </main>
            </div>
            <%- include('./partials/footer.ejs') %>
        </div> 
    </body>
    <script src="index.js" type="text/javascript" defer></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>

</html>